@use '../abstracts' as *;
main {
    height: 100vh;
    background-image: url('../../img/bg_01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    color: $color-white;
}

.momentum {
    display: flex;
    justify-content: center;

    &__center-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type=text] {
            height: 3rem;
            text-align: center;
            font-size: 2.5rem;
        }
    }
}

.mainfocus-container:hover #check-box_1{
    visibility: visible;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .quote-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 40rem;

        input[type=text] {
            height: 5rem;
            text-align: center;
            font-size: 3rem;
            color: $color-white;
        }
    }

    .todoLabel {
        transition: all .2s;
        animation: fadeIn 1s ease-in-out;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
    }
}

.todo-box {
    .todo-list {
        color: #000;
        padding: 2rem 0;

        li {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            label {
                display: inline-block;
                vertical-align: middle;
                margin-left: 1rem;
                font-size: 1.6rem;
                font-weight: bold;
            }

            input[type=checkbox] {
                display: inline-block;
                vertical-align: middle;
                transform: scale(1.5);
            }
        }
    }

    .tooltip {
        padding: 5rem;
        width: 35rem;
        min-height: 100px;
        background-color: #fff;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 1rem 2rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      
        /* Position the tooltip */
        position: absolute;
        right: 20px;
        bottom: 70px;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // animation
        transition: all .2s;
        animation: fadeIn 1s ease-in-out;
        animation-delay: 2s;
        animation-fill-mode: backwards;

        @include tablet {
            bottom: 60px;
            width: 300px;
        }

        @include phone {
            bottom: 40px;
            right: 10px;
                width: 300px;
        }

        input {
            color: grey;
        }

        span::after {
            content:'';
            display:block;
            width:0;
            height:0;
            position:absolute;
            
            border-left: 10px solid transparent;
            border-right: 10px solid transparent; 
            border-top:10px solid #fff;
            right:25px;
            bottom:-6px;

            @include tablet {
                right: 15px;
            }

            @include phone {
                right: 10px;
            }
        }
    }
}



