// Colors

:root {
    --color-primary: #32CD32;

    --color-secondary: #ffef00;

    --color-tertiary: #D2042D;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;

    --color-black-dark: #010a01;
}