/* Reset Default Browser Styles */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
ul, li {
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
}

/* Generic elements */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #444649;
}

header {
    padding: 0 200px;
    height: 100px;
    /* background-color: #252934; */
    /* Custom background pattern */
    
}

a:link, a:visited {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

hr {
    border: none;
    height: 5px;
    width: 70px;
    /* Set the hr color */
    color: #444649; /* old IE */
    background-color: #444649; /* Modern Browsers */
}

.text-teal {
    color: #05c2c9;
}

.text-bold {
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444649;
}

#logo-container {
    height:auto;
    width: 150px;
}

    #logo-container .logo {
        max-width: 100%;
    }

section#home {
    background: 
    radial-gradient(#1e3d59 3px, transparent 4px),
    radial-gradient(#1e3d59 3px, transparent 4px),
    linear-gradient(#252934 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #1e3d59 75px, #252934 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #1e3d59 76px, #252934 77px, transparent 78px, transparent 109px), #252934;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

section#banner {
    height: calc(100vh - 100px);
    /* background-color: #252934; */
    display: flex;
    justify-content: center;
    align-items: center;

    
}

    #banner-container {
        color: #fff;
        text-align: center;
        margin-bottom: 100px;
    }

    #banner-message {
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: 400;
    }
    
    #banner-button {
        padding: 10px 20px;
        border: 2px solid #fff;
        color: #fff;
        font-size: 1.2rem;
    }

    #banner-button:hover {
        background-color: #05c2c9;
        border: 2px solid #05c2c9;
    }

#main-nav {
    padding: 0 200px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1B242F;
    border-bottom: 3px solid #05c2c9;
}

    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        margin-right: 40px;
    }

    #main-nav a {
        font-size: 1.1rem;
        color: #fff;
    }

    #main-nav a:hover {
        color: #05c2c9;
    }

section#about {
    padding-top: 50px;
    height: 100vh;
    /* display: flex;
    justify-content: center; */
}

    #profile-container {
        margin-top: 100px;
        text-align: center;
    }

    #profile-pic-container {
        height: auto;
        width: 300px;
        color: #444649;
    }

    #profile-pic-container img{
        max-width: 100%;
        /* border: 5px solid #05c2c9; */
    }

section#projects {
    padding-top: 50px;
    height: 100vh;
    background-color: #F5F5F5;
}




