@use '../abstracts' as *;

.btn {
    padding: 12px 30px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    &--lg {
        font-size: 2rem;
        font-weight: bold;
        
        @include phone {            
            font-size: 1.3rem;
        }
    }   

    &--round {
        border-radius: 30px;
    }

    @include phone {            
        padding: 5px 10px;
    }
}
