@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  visibility: hidden;
}

.remove {
  display: none;
}

.hw {
  width: 50%;
}

.fw {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml--1 {
  margin-left: 1rem;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: #f5f5f5;
  font-family: "Rajdhani", sans-serif;
  text-shadow: horizontal-offset vertical-offset blur color;
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 4rem;
}

.font-medium {
  font-size: 2.5rem;
}

.font-large {
  font-size: 5rem;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: #C0C0C0 !important;
}

.text-black {
  color: #000 !important;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: #2463ed;
}
.btn--primary {
  background-color: #326dee;
}
.btn--rounded {
  border-radius: 50px;
}

input[type=text] {
  border: 0;
  border-bottom: 1px solid #f5f5f5;
  background: none;
  caret-color: #f5f5f5;
  color: #f5f5f5;
}
input[type=text]:focus {
  outline: none;
}

main {
  height: 100vh;
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  color: #f5f5f5;
}

.momentum {
  display: flex;
  justify-content: center;
}
.momentum__center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.momentum__center-content input[type=text] {
  height: 3rem;
  text-align: center;
  font-size: 2.5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.bottom .quote-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40rem;
}
.bottom .quote-block input[type=text] {
  height: 5rem;
  text-align: center;
  font-size: 3rem;
}

.todo-box .todo-list {
  color: #000;
  padding: 0 20px;
}
.todo-box .todo-list li {
  display: flex;
  justify-content: space-between;
}
.todo-box .tooltip {
  padding: 5rem;
  width: 300px;
  min-height: 100px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* Position the tooltip */
  position: absolute;
  right: 20px;
  bottom: 70px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todo-box .tooltip span::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  right: 25px;
  bottom: -6px;
}

/*# sourceMappingURL=main.css.map */
