@use '../abstracts' as *;

html {
    font-size: 62.5%;

    @include tablet {
        font-size: 50%;
    }

    @include phone {
        font-size: 31.25%;
    }
}

body {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    visibility: hidden;
}

.remove {
    display: none;
}

.hw {
    width: 50%;
}

.fw {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.ml--1 {
    margin-left: 1rem;
}

.mr--1 {
    margin-right: 1rem;
}

.mb--1 {
    margin-bottom: 1rem;
}

.mb--2 {
    margin-bottom: 3rem;
}
