@use '../abstracts' as *;

body {
    // font-family: ;
    font-weight: 400;
    line-height: 1.7;
    color: $color-white;
    font-family: 'Rajdhani', sans-serif;
    text-shadow: horizontal-offset vertical-offset blur color;
}

h1 {
    font-size: 15rem;
}

h2 {
    font-size: 4rem;
}

.font-default {
    font-size: 1.6rem;
}

.font-default-px {
    font-size: 16px;
}

.font-medium {
    font-size: 2.5rem;
}

.font-large {
    font-size: 5rem;
}

.text-center {
    text-align: center;
}

.text-grey {
    color: $color-grey;
}

.text-black {
    color: $color-black;
}

.text-white {
    color: $color-white;
}

.font-bold {
    font-weight: bold;
}

.text-cross-out {
    text-decoration: line-through;
}

