@use "../abstracts" as *;

.section-game {
  width: 100%;
  position: relative;

  @include respond(phone) {
    // width <  900?
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.game-box {
  margin: 0 auto;
  width: 60vmin;
  height: 60vmin;
  display: flex;
  flex-wrap: wrap;

  box-shadow: 
    /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.cell {
  height: 20vmin;
  width: 20vmin;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
  overflow: visible;
  cursor: pointer;
  background-color: var(--color-black-dark);

  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(5),
  &:nth-of-type(6),
  &:nth-of-type(8),
  &:nth-of-type(9) {
    border-left: 2px solid var(--color-grey-light-1);
  }

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    border-bottom: 2px solid var(--color-grey-light-1);
  }
}

.highlighted-cell {
  // background-color: var(--color-grey-light-1);
  box-shadow: inset 0px 0px 20px rgba(#ffef00, 0.9);
}

.player-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 7rem;

  &__ans {
    margin: 0 3rem;

    &:hover {
      animation: pulsate-winner 0.11s ease-in-out infinite alternate;
    }
  }
}

.restart,
.prev,
.next {
  font-size: 5rem;
  text-align: center;

  &:hover {
    color: var(--color-tertiary);
    text-shadow:
        /* White glow */ 0 0 7px #fff, 0 0 10px #fff,
      0 0 21px #fff, /* Green glow */ 0 0 42px var(--color-tertiary),
      0 0 82px var(--color-tertiary), 0 0 92px var(--color-tertiary),
      0 0 102px var(--color-tertiary), 0 0 151px var(--color-tertiary);
  }
}

.restart {
  margin: 0 7rem;
}
