@use '../abstracts' as *;

.btn {
    border: none;
    padding: 10px 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
        background-color: darken($color-primary, 3);
    }

    &--primary {
        background-color: $color-primary;
    }
    
    &--error {
        background-color: red;
        
        &:hover {
            background-color: darken(red, 3);
        }
    }

    &--rounded {
        border-radius: 50px;
    }

    &--sm {
        padding: .5rem 1rem;
    }

}